.container{
    background-color: rgb(224, 210, 210);
    height: 300px;
    padding: 20px;


}
.heading{
    color: black;
    font-size: 28px;
    text-align: center;
    /* margin-top: 20px; */
}
.paragraph{
    color: blueviolet;
    text-align: center;
}